_site/
.DS_Store
pdfs/guesstimation/Lawrence Weinstein, John A. Adam - Guesstimation_ Solving the World's Problems on the Back of a Cocktail Napkin  -Princeton University Press (2008).pdf
pdfs/guesstimation/Lawrence Weinstein, Patricia Edwards - Guesstimation 2.0_ Solving Today's Problems on the Back of a Napkin-Princeton University Press (2012).pdf
pdfs/guesstimation/standard_estimates.pdf
