_site/
.DS_Store
pdfs/guesstimation/Lawrence Weinstein, John A. Adam - Guesstimation_ Solving the World's Problems on the Back of a Cocktail Napkin  -Princeton University Press (2008).pdf
pdfs/guesstimation/Lawrence Weinstein, Patricia Edwards - Guesstimation 2.0_ Solving Today's Problems on the Back of a Napkin-Princeton University Press (2012).pdf
pdfs/guesstimation/standard_estimates.pdf
pdfs/guesstimation/oly.aux
pdfs/guesstimation/oly.fdb_latexmk
pdfs/guesstimation/oly.fls
pdfs/guesstimation/oly.log
pdfs/guesstimation/oly.pre
pdfs/guesstimation/oly.synctex.gz
pdfs/Inequalities/Main Reading/pset.synctex.gz
pdfs/Inequalities/Main Reading/pset.fdb_latexmk
pdfs/Inequalities/Main Reading/pset.log
pdfs/guesstimation/comp.synctex.gz
pdfs/guesstimation/comp.pre
pdfs/guesstimation/comp.log
pdfs/guesstimation/comp.fls
pdfs/guesstimation/comp.fdb_latexmk
pdfs/guesstimation/comp.aux
pdfs/constructions/pset.synctex.gz
pdfs/constructions/pset.pre
pdfs/constructions/pset.log
pdfs/constructions/pset.fls
pdfs/constructions/pset.fdb_latexmk
pdfs/constructions/pset.aux
