_site/
.DS_Store
pdfs/guesstimation/Lawrence Weinstein, John A. Adam - Guesstimation_ Solving the World's Problems on the Back of a Cocktail Napkin  -Princeton University Press (2008).pdf
pdfs/guesstimation/Lawrence Weinstein, Patricia Edwards - Guesstimation 2.0_ Solving Today's Problems on the Back of a Napkin-Princeton University Press (2012).pdf
pdfs/guesstimation/standard_estimates.pdf
pdfs/guesstimation/oly.aux
pdfs/guesstimation/oly.fdb_latexmk
pdfs/guesstimation/oly.fls
pdfs/guesstimation/oly.log
pdfs/guesstimation/oly.pre
pdfs/guesstimation/oly.synctex.gz
pdfs/Inequalities/Main Reading/pset.synctex.gz
pdfs/Inequalities/Main Reading/pset.fdb_latexmk
pdfs/Inequalities/Main Reading/pset.log
pdfs/guesstimation/comp.synctex.gz
pdfs/guesstimation/comp.pre
pdfs/guesstimation/comp.log
pdfs/guesstimation/comp.fls
pdfs/guesstimation/comp.fdb_latexmk
pdfs/guesstimation/comp.aux
pdfs/constructions/pset.synctex.gz
pdfs/constructions/pset.pre
pdfs/constructions/pset.log
pdfs/constructions/pset.fls
pdfs/constructions/pset.fdb_latexmk
pdfs/constructions/pset.aux
pdfs/pathological/pset.synctex.gz
pdfs/pathological/pset.pre
pdfs/pathological/pset.fdb_latexmk
pdfs/pathological/pset.fls
pdfs/pathological/pset.log
pdfs/pathological/pset.aux
pdfs/mocks/mock3.synctex.gz
pdfs/mocks/mock3.pre
pdfs/mocks/mock3.log
pdfs/mocks/mock3.fls
pdfs/mocks/mock3.fdb_latexmk
pdfs/mocks/mock3.aux
pdfs/mocks/mock2.pre
pdfs/mocks/mock2.synctex.gz
pdfs/mocks/mock2.log
pdfs/mocks/mock2.fls
pdfs/mocks/mock2.fdb_latexmk
pdfs/mocks/mock2.aux
pdfs/mocks/mock1.pre
pdfs/mocks/mock1.synctex.gz
pdfs/mocks/mock1.log
pdfs/mocks/mock1.fls
pdfs/mocks/mock1.fdb_latexmk
pdfs/mocks/mock1.aux
_posts/2023-01-02-Probabilistic.md
pdfs/probabilistic/probabilistic-pset1.aux
pdfs/probabilistic/probabilistic-pset1.fdb_latexmk
pdfs/probabilistic/probabilistic-pset1.fls
pdfs/probabilistic/probabilistic-pset1.log
pdfs/probabilistic/probabilistic-pset1.pre
pdfs/probabilistic/probabilistic-pset1.synctex.gz
pdfs/probabilistic/probabilistic-pset2 copy.fdb_latexmk
pdfs/probabilistic/probabilistic-pset2.aux
pdfs/probabilistic/probabilistic-pset2.fdb_latexmk
pdfs/probabilistic/probabilistic-pset2.fls
pdfs/probabilistic/probabilistic-pset2.log
pdfs/probabilistic/probabilistic-pset2.synctex.gz
pdfs/probabilistic/probabilistic-pset2.pre
pdfs/probabilistic/pset1-soln.fdb_latexmk
pdfs/probabilistic/pset1-soln.aux
pdfs/probabilistic/pset1-soln.fls
pdfs/probabilistic/pset1-soln.log
pdfs/probabilistic/pset1-soln.pre
pdfs/probabilistic/pset1-soln.synctex.gz
pdfs/probabilistic/pset2-soln.pre
pdfs/probabilistic/pset2-soln.synctex.gz
pdfs/probabilistic/pset2-soln.log
pdfs/probabilistic/pset2-soln.fls
pdfs/probabilistic/pset2-soln.fdb_latexmk
pdfs/probabilistic/pset2-soln.aux
